In [1]:
import pandas as pd
import os

# Set path to your demo CSV files
DATA_DIR = "../mimic_demo_data"

# Load basic tables
patients = pd.read_csv(os.path.join(DATA_DIR, "PATIENTS.csv"))
admissions = pd.read_csv(os.path.join(DATA_DIR, "ADMISSIONS.csv"))
chartevents = pd.read_csv(os.path.join(DATA_DIR, "CHARTEVENTS.csv"), nrows=50000)  # Load first 50K rows for demo

print("Patients:", patients.shape)
print("Admissions:", admissions.shape)
print("Chartevents:", chartevents.shape)

chartevents.head()

Patients: (100, 8)
Admissions: (129, 19)
Chartevents: (50000, 15)

,row_id,subject_id,hadm_id,icustay_id,itemid,charttime,storetime,cgid,value,valuenum,valueuom,warning,error,resultstatus,stopped
0,5279021,40124,126179,279554.0,223761,2130-02-04 04:00:00,2130-02-04 04:35:00,19085,95.9,95.9,?F,0,0,NaN,NaN
1,5279022,40124,126179,279554.0,224695,2130-02-04 04:25:00,2130-02-04 05:55:00,18999,2222221.7,2222221.7,cmH2O,0,0,NaN,NaN
2,5279023,40124,126179,279554.0,220210,2130-02-04 04:30:00,2130-02-04 04:43:00,21452,15.0,15.0,insp/min,0,0,NaN,NaN
3,5279024,40124,126179,279554.0,220045,2130-02-04 04:32:00,2130-02-04 04:43:00,21452,94.0,94.0,bpm,0,0,NaN,NaN
4,5279025,40124,126179,279554.0,220179,2130-02-04 04:32:00,2130-02-04 04:43:00,21452,163.0,163.0,mmHg,0,0,NaN,NaN